@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section title
{
    <title>О нас - свадьба за границей | RitaIslands</title>
   
    <meta name="description" content="Мы с мужем организовали выезд на Санторини наших близких родственников и друзей (всего 16 человек) в мае 2013 года. Оплатили всем билеты, проживание на 5 дней, саму церемонию, ресторан..." />
    <meta property="og:url" content="http://ritaislands.ru/svadba-za-granicey/about" />
    <meta property="og:title" content="О нас - свадьба за границей | RitaIslands" />
    <meta property="og:description" content="Мы с мужем организовали выезд на Санторини наших близких родственников и друзей (всего 16 человек) в мае 2013 года. Оплатили всем билеты, проживание на 5 дней, саму церемонию, ресторан..." />
    <meta property="og:site_name" content="RitaIslands - свадьба за границей" />
    <meta property="og:image" content="~/img/aboutus/we.jpg" />
    <meta name="keywords" content="свадьба за гранцией, о нас, Санторини, Греция, организация свадьбы" />

}


<section id="contact" style="padding-top: 40px;">
    <div class="container">
        <!-- Title Page -->
        <div class="row margin-0">
            <div class="span6">
                <h3 style="margin: 0px;">ПРИВЕТ!</h3>
                <p align="justify">Открыв наш сайт, Вы сделали первый шаг на пути к <strong>СКАЗОЧНОЙ</strong> и <strong>НЕПОВТОРИМОЙ</strong> свадьбе! <strong>Свадьба за границей</strong> не может быть иной. Я знаю, о чем говорю: церемония рождения нашей с мужем семьи состоялась на высоте более двухсот метров над эгейским морем на острове Санторини в Греции. Солнце, падающее за горизонт; скалы, срывающиеся в морскую пучину; белоснежная греческая архитектура…. Можно ли передать словами окружавшую нас красоту?</p>
                <p align="justify">Вы, наверное, думаете: "свадьба за границей - это дорого и хлопотно: визы, билеты, брони, документы..."</p>
                <h3 style="margin: 0px;">А на самом деле</h3>

                <p align="justify">Мы с мужем организовали выезд на Санторини наших близких родственников и друзей (всего 16 человек) в мае 2013 года. Оплатили всем билеты, проживание на 5 дней, саму церемонию, ресторан... и этот незабываемый праздник обошёлся нам в 400 000 рублей. Риторический вопрос - как на такие деньги можно погулять в Москве? Получите ли Вы столько же впечатлений? Будет ли ваш отдых столь же насыщенным и длительным?</p>
                <p align="justify">Стоимость свадебной церемонии в разных странах будет разной, но всегда она находится в пределах разумного. За те же деньги за границей праздник получается гораздо ярче!</p>
                <p align="justify">Был ли процесс подготовки хлопотным? Нет. Заполнить анкету в посольство и купить билеты на самолет можно, не выходя из дома. Всего один вечер внимательной подготовки – и перед вами открыты границы и стёрты расстояния. А максимально помочь вам в остальном – наша задача.</p>

            </div>

            <div class="span6">
                <div style="padding-top: 10px;">
                    <img alt="Лев+Рита" width="100%" src="~/img/aboutus/we.jpg">
                </div>
            </div>

        </div>
        <div class="row margin-20">
            <div class="span12">
                <h3 style="margin-bottom: 10px;" align="center">Свадьба за границей это:
                    <h3 style="color: red;" align="center">ПРОСТО, ДОСТУПНО, НЕЗАБЫВАЕМО!</h3>
                </h3>
                <p style="margin-bottom: 0px;" align="justify">
                    <strong>Мы сделаем ВСЁ</strong>, чтобы это было именно так:<br />
                    –  организуем неповторимую свадебную церемонию;<br />
                    –  рассчитаем бюджет свадьбы (гаранитируем самые низкие цены);<br />
                    –  будем сопровождать вас до того, как вы вернетесь в Россию;<br />
                    –  забронируем отели;<br />
                    –  поможем с бронированием авиабилетов по оптимальным ценам;<br />
                    –  предоставим вам самые качественные услуги (мы работаем только с профессионалами);
                    <br />

                    <p align="justify">Мы также можем организовать: помолвку, медовый месяц, юбилей и просто восхитительный отдых в странах, представленных на сайте! Напишите нам, и мы Вам поможем!</p>
                <p>
                    <strong>С уважением,<br />
                        Ваша Маргарита Бережная<br />
                        8-926-176-86-60<br />
                        <a href="mailto:rita@ritaislands.ru">rita@ritaislands.ru</a>
                    </strong>
                </p>

                <div class="span12" style="margin: 0px;">
                    <div style="padding: 0px;">
                        <img alt="Лев+Рита" width="100%" src="~/img/aboutus/rings.jpg">
                    </div>
                </div>

            </div>


        </div>


    </div>
</section>
