@{
    ViewBag.Title = "partnerthanks";
    Layout = "~/views/shared/_layout.cshtml";
}


@section title
{
    <title>Спасибо партнеру - свадьба за границей | RitaIslands</title>

    <meta name="description" content="Спасибо, что обратились к нам! Мы свяжемся с вами в течение суток! Мы организуем лучшую свадебную церемонию за границей!" />

    <meta property="og:url" content="http://ritaislands.ru/svadba-za-granicey/partnerthanks" />
    <meta property="og:title" content="Спасибо партнеру - свадьба за границей | RitaIslands" />
    <meta property="og:description" content="Спасибо за то, что обратились к нам! Мы скоро обязательно свяжемся с Вами! После модерации Ваша анкета обязательно появится у нас на сайте." />

    <meta property="og:site_name" content="RitaIslands - свадьба за границей" />
    <meta property="og:image" content="~/img/direct/Santorin.jpg" />
    <meta name="keywords" content="страница благодарности для партнера, свадебный фотограф, свадебный ведущий, декоратор" />

}

<div class="container">
    <div class="row" style="margin-top: 50px; margin-bottom: 50px;">
        <div class="span12">

            <p style="text-align: center;"><strong>Спасибо за то, что обратились к нам! Мы скоро обязательно свяжемся с Вами!</strong> </p>
                <p style="text-align: center; color: red;"><strong>После модерации Ваша анкета обязательно появится у нас на сайте.</strong></p>

            

            <p style="text-align: center; margin-top: 30px;">
                <a href="@Url.Action("Main", "Home")" class="button-main button-large">Продолжить подбор свадебной церемонии</a>
            </p>


        </div>
    </div>
</div>