@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section title
{

    <title>Блог - свадьба за границей | RitaIslands</title>

    <meta name="description" content="Наш блог содержит массу интересных статей об организации и проведении свадьбы за границей советы, истории, интересные факты." />
    <meta name="keywords" content="свадебный журнал, блог о свадьбах, статьи о свадьбах за границей, официальная свадебная церемония, символическая свадебная церемония, венчание за границей" />

    <meta property="og:url" content="http://ritaislands.ru/svadba-za-granicey/blog" />
    <meta property="og:title" content="Блог - свадьба за границей | RitaIslands" />
    <meta property="og:description" content="Наш блог содержит массу интересных статей об организации и проведении свадьбы за границей советы, истории, интересные факты." />
    <meta property="og:site_name" content="RitaIslands - свадьба за границей" />
    <meta property="og:image" content="~/img/direct/Santorin.jpg" />
}
