@{
    ViewBag.Title = "WeddingIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section title
{
    <title>Портфолио - свадьба за границей | RitaIslands</title>

    <meta name="description" content="В портфолио Вы можете прочитать о свадебных церемоних за границей, организованными компанией Ritaislands. Пишите нам, и мы устроим Вам незабываемый праздник!" />

    <meta property="og:url" content="http://ritaislands.ru/svadba-za-granicey/portfolio" />
    <meta property="og:title" content="Портфолио - свадьба за границей | RitaIslands" />
    <meta property="og:description" content="В портфолио Вы можете прочитать о свадебных церемоних за границей, организованными компанией Ritaislands. Пишите нам, и мы устроим Вам незабываемый праздник!" />
    <meta property="og:site_name" content="RitaIslands - свадьба за границей" />
    <meta property="og:image" content="~/img/direct/Santorin.jpg" />
    <meta name="keywords" content="свадебное портфолио, свадьба за границей, истории о свадьбах, свадебные фотографии" />
}
